---
#Hi
---
// Mixins
//@import "components/prefixer";
//@import "components/mixins";
//@import "components/color";
@import "components/color";
//Theme
@import "theme";
//Materialize
@import "materialize";



html{
	background-color:white;
		//lighten($primary-color, 15%);
	color: lighten($primary-color, 15%);
}
body{
	display:flex;
	flex-direction:column;
	min-height:100vh;
	max-height:100vh;
	overflow:hidden;
}
header{
	height:64px;
	z-index:1000;
	display:flex-box;
	//position:fixed;
	//width:100%;
}
main{
	transition:all 0.5s ease;
	flex: 1;
	overflow-y:scroll;
	overflow-x: hidden;
	display:flex-box;
}

#new-content{
    display:none;
}

footer.page-footer{
	margin:0;
}

.container {
	width: 95%;
}

nav{
	ul.main-nav{
		li{
            font-family: 'Roboto Mono', monospace;
			font-weight:500;
			font-size:14px;
			&:hover, &.active{
				background-color: transparent;
			}
			a:not(.btn){
				
				text-transform: uppercase;
				line-height:62px;
				&:hover{
					background-color: transparent;
					border-bottom:2px solid rgba(0,0,0,0.5);
                }
            }
            a.btn{
                font-family: 'Roboto Mono', monospace;
            }
		}
	}
	
	.sidenav{
		li{
			&:hover{
				background:transparent;
			}
			a{
				&:hover{
					background:transparent;
				}
			}
		}
	}
	
	a.sidenav-trigger{
		padding-right:40px;
	}
}

#preloader{
	position:absolute;
	margin:-2px 0 0 0;
	background:#212121;
	height:4px;
	display:none;
}

h1,h2, .mono{
	font-family: 'Roboto Mono', ;
	&:after{
		opacity: 0.4;
    	content: "¬";
	}
}
p{
	font-size:17px;
}

::-webkit-scrollbar{
	width:8px;
	position:fixed;
	right:0;
	&:hover{
		width: 8px;
	}
}

::-webkit-scrollbar-track{
	&:hover{
		background:rgba(0,0,0,0.1);
	}
	background:rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
	background:rgba(0,0,0,0.3);
}

.ripple-wrapper{
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	height:0;
	width:0;
	z-index:999;
}
.ripple{
	border-radius:50%;
	border-width:0;
	//transition:all 0.5s ease;
	height:0;
	width:0;
	margin:0;
	border:0 solid rgba(85,85,85,1);
	background:transparent;
	&.activating{
        transition:all 0.3s cubic-bezier(0.4, 0.0, 1, 1);
        border:300vh solid rgba(34,34,34,1); /* 200vh... */
		margin-top: -300vh;
		margin-left:-300vh; 
	}
	&.disabling{
		/*padding:300vh;
		margin-top: -600vh;
		margin-left:-600vh;
        border-color: rgba(85,85,85,1);*/
        transition:all 0.375s ease;
        border-color: rgba(34,34,34,0);
	}
}
